.loader{border:2px solid rgba(255,255,255,.3);border-top:2px solid white;border-radius:50%;width:16px;height:16px;animation:spin .8s linear infinite;display:inline-block}@keyframes spin{0%{transform:rotate(0)}to{transform:rotate(360deg)}}
